[submodule "node_modules/velocity.js"]
	path = node_modules/velocity.js
	url = git@github.com:shepherdwind/velocity.js.git
[submodule "node_modules/less"]
	path = node_modules/less
	url = git://github.com/cloudhead/less.js.git
