[submodule "node_modules/velocityjs"]
	path = node_modules/velocityjs
	url = git://github.com/shepherdwind/velocity.js.git
[submodule "node_modules/jear"]
	path = node_modules/jear
	url = git@github.com:shepherdwind/jear.git
